img {
    filter: invert(100%);
    border-radius: 30%;
    width: 1500px;
    height: 170px;
    object-fit: none;
    object-position: 50% 50%;
}

h1 {
    text-align: center;
    color: yellow;
    text-shadow: 4px 8px 16px midnightblue, 0 0 25px steelblue, 0 0 5px midnightblue;
}

body {
    text-align: center;
    margin: 75px;
    width: 1500px;
    padding: 50px;
    font-family: 'Lexend Deca', sans-serif;
    color: saddlebrown;
}